.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    color: inherit;
    border: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.3s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      //   box-shadow: var(--shadow-dark);
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-3);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }
  &__icon-box {
  }
  &__user {
  }

  &__notification {
  }

  &__user-name {
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }
}
