@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';


$nb-themes: nb-register-theme((

  color-primary-100: #C7F6F6,
  color-primary-200: #92E7EE,
  color-primary-300: #56BCCD,
  color-primary-400: #2A839B,
  color-primary-500: #034159,
  color-primary-600: #02324C,
  color-primary-700: #012640,
  color-primary-800: #001B33,
  color-primary-900: #00132A,
  color-success-100: #DEF9D2,
  color-success-200: #B8F3A6,
  color-success-300: #83DC74,
  color-success-400: #52BA4C,
  color-success-500: #1E8C22,
  color-success-600: #157822,
  color-success-700: #0F6421,
  color-success-800: #09511F,
  color-success-900: #05431D,
  color-info-100: #C7F9F7,
  color-info-200: #92F0F3,
  color-info-300: #58CFDD,
  color-info-400: #2EA2BB,
  color-info-500: #006B8E,
  color-info-600: #00537A,
  color-info-700: #003E66,
  color-info-800: #002C52,
  color-info-900: #002044,
  color-warning-100: #FCF2C9,
  color-warning-200: #F9E296,
  color-warning-300: #EDC85F,
  color-warning-400: #DCAC38,
  color-warning-500: #C68501,
  color-warning-600: #AA6C00,
  color-warning-700: #8E5600,
  color-warning-800: #724100,
  color-warning-900: #5F3200,
  color-danger-100: #F9D7CF,
  color-danger-200: #F4A9A2,
  color-danger-300: #E06E70,
  color-danger-400: #C14754,
  color-danger-500: #991832,
  color-danger-600: #831133,
  color-danger-700: #6E0C32,
  color-danger-800: #58072F,
  color-danger-900: #49042C

), custom-theme, default);